<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <meta name="descraption" content="This Site To E Commerce Shop" />
    <meta name="author" content="Ahmed Elmasry" />
    <meta name="keywords" content="Ahmed Elmasry,ahmed elmasry,e commerce shop,E Commerce Shop" />
    <title>Electric Shop</title>
    <link rel="stylesheet" href="\power_comonents\bootstrap\dist\css\bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <div class="contents">
        <div class="header">
            <div class="search">
                <img src="/images/logo_admin.png" alt="">
                <input type="text" class="handelTxt">
                <div class="searching">
                    <img src="/images/search.png" alt="">
                </div>
            </div>
            <div class="links">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
                <a class="btn" href="/signup">Signup</a>
                <a class="btn" href="/signin">Signin</a>
            </div>
        </div>

        <div class="content">
        <div class="carsoual">
        <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/2ii.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/3ii.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/5ii.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/6ii.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        </div>
        <div class="latestBtn">
            <a class="" href="#">Latest Post</a>
        </div>

        <div class="compoents">
           <a href="/carts">
            <div class="basket">
            <i class="fa-solid fa-basket-shopping"></i>
            {{cartsLength}}
            </div>
           </a>
    {{{body}}}

    </div>

        <div class="actions">
            <a class="navs" id="oneBtn" href="/">1</a>
            <a id="twoBtn" class="navs" href="/userPage">2</a>
        </div>
        </div>
        <div class="footer">
            <div class="footActions">
                <h3>Account</h3>
                <ul>
                    <li>Your Account</li>
                    <li>Personal Information</li>
                    <li>Address</li>
                    <li>Order History</li>
                </ul>
            </div>

            <div class="footActions">
                <h3>Information</h3>
                <ul>
                    <li>Contact</li>
                    <li>Regastration</li>
                    <li>Lagel Notice</li>
                    <li>Rerms And Conditions</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div class="footActions">
                <h3>Our Offers</h3>
                <ul>
                    <li>New Product</li>
                    <li>Top Sellers</li>
                    <li>Special Offers</li>
                    <li>Supplers</li>
                </ul>
            </div>
            <div class="footActions">
                <h3>Social Media</h3>
                <div class="images">
                    <img class="imageFoot" src="/images/facebook.png" alt="">
                    <img class="imageFoot" src="/images/youtube.png" alt="">
                    <img class="imageFoot" src="/images/twitter.png" alt="">
                </div>
                <div class="reserve">
                    @ Electric Shop 2024 <br>
                    All Right Reserved
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/all.js"></script>
    <script src="\power_comonents\bootstrap\dist\js\bootstrap.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
