    <h1>Please signup</h1>
    <div class="member">
       <form action="/signup" method="post">
       <span>Name : </span>
        <input type="text" name="name" class="handelTxtMember">
        <span>Email : </span>
        <input type="email" name="email" class="handelTxtMember">
        <span>Address : </span>
        <input type="text" name="address" class="handelTxtMember">
        <span>Phone : </span>
        <input type="text" name="phone" class="handelTxtMember">
        <span>Password : </span>
        <input type="password" name="password" class="handelTxtMember">
        <span>Re Password : </span>
        <input type="password" name="rePassword" class="handelTxtMember">
        <input type="submit" class="customBtnMember" value="Registar">
       </form>
       </div>