
    <h1>Please signin</h1>
    <div class="member">
       <form action="/signin" method="post">
        <span>Email : </span>
        <input type="email" name="email" class="handelTxtMember">
        <span>Password : </span>
        <input type="password" name="password" class="handelTxtMember">
        <input type="submit" class="customBtnMember" value="Signin">
       </form>
    </div>
